body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: $body;
    font-size: 14px;

    @include media-breakpoint-down(md) {
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
    }
}

.mainBodyContent {
    min-height: calc(100vh - 100px);
}

.pointer-events {
    pointer-events: none !important;
}

.text-justify {
    text-align: justify !important;
}

$secSpacePC: 60px;
$secSpaceSP: 40px;

.secSpace {
    padding-top: $secSpaceSP;
    padding-bottom: $secSpaceSP;
    position: relative;

    @include media-breakpoint-up(lg) {
        padding-top: $secSpacePC;
        padding-bottom: $secSpacePC;
    }

    &--top {
        padding-top: $secSpaceSP;
        padding-bottom: 0px;

        @include media-breakpoint-up(lg) {
            padding-top: $secSpacePC;
            padding-bottom: 0px;
        }
    }

    &--bottom {
        padding-top: 0px;
        padding-bottom: $secSpaceSP;

        @include media-breakpoint-up(lg) {
            padding-top: 0px;
            padding-bottom: $secSpacePC;
        }
    }
}

// -------------- Picture frame -------------
.imgGroup {
    display: block;
    z-index: 5;
    position: relative;
    height: 0px;
    padding-bottom: 70%;
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%) scale(1);
        object-fit: cover;
        transition: all 0.3s;
    }

    @include media-breakpoint-up(lg) {
        &:hover {
            img {
                transform: translate(-50%, -50%) scale(1.1);
            }
        }
    }
}

// ---------- line ------------
@mixin line-clamp($lines) {
    -webkit-line-clamp: $lines;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.line-1 {
    @include line-clamp(1);
}

.line-2 {
    @include line-clamp(2);
}

.line-3 {
    @include line-clamp(3);
}

.sec_title {
    color: $success;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 700;
}

.video {
    position: relative;
    width: 100%;
    height: 0px;
    padding-bottom: 56.25%;

    iframe,
    video {
        position: absolute;
        width: 100%;
        height: 100%;
        border: none;
    }
}

.btn_start {
    display: inline-flex;
    border: 2px solid #fff;
    padding: 12px 28px;
    outline: none !important;
    background-color: transparent !important;
    color: #fff !important;
    font-size: 14px;
    text-decoration: none !important;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 1000px;
    line-height: 16px;
}

.btn_down_app {
    display: inline-flex;
    border: none;
    padding: 16px 32px;
    outline: none !important;
    background: linear-gradient(90deg, rgba(0, 82, 255, 1) 0%, rgba(46, 199, 255, 1) 100%) !important;
    color: #fff !important;
    font-size: 20px;
    text-decoration: none !important;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12px;
    line-height: 28px;
}

.btn_see_more {
    display: inline-flex;
    border: none;
    padding: 8px 20px;
    outline: none !important;
    background-color: $primary !important;
    color: #fff !important;
    font-size: 12px;
    text-decoration: none !important;
    font-weight: 600;
    border-radius: 8px;
    line-height: 16px;
}

.btn_view_all {
    display: inline-flex;
    border: none;
    padding: 0px 28px 0px 0px;
    outline: none !important;
    background-color: none !important;
    color: $primary !important;
    font-size: 16px;
    text-decoration: none !important;
    font-weight: 500;
    line-height: 24px;
    position: relative;

    &::before {
        content: '';
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='25' viewBox='0 0 24 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.91003 20.4201L15.43 13.9001C16.2 13.1301 16.2 11.8701 15.43 11.1001L8.91003 4.58008' stroke='%230052FF' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        width: 24px;
        height: 24px;
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}