/* Wrapper chính */
.car_animation {
    position: relative;
    width: 369px;
    height: 371px;
}

/* Các ô vuông */
.car_animation_block {
    position: absolute;
    width: 176px;
    height: 165px;
    border-radius: 4px;
    border: 1px solid #fff;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    transition: all 0.5s ease-in-out;
    padding: 16px;
    gap: 4px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.8) 100%);
}

/* Hover: Nổi bật hơn */
.car_animation_block:hover {
    transform: scale(1.1);
    background: rgba(255, 255, 255, 0.4);
    box-shadow: 0px 10px 20px rgba(0, 123, 255, 0.3);
}

/* Vị trí ban đầu theo data-pos */
.car_animation_block[data-pos="1"] {
    top: 0px;
    left: 0px;
}

.car_animation_block[data-pos="2"] {
    top: 25px;
    left: 192px;
}

.car_animation_block[data-pos="3"] {
    top: 206px;
    left: 192px;
}

.car_animation_block[data-pos="4"] {
    top: 181px;
    left: 0px;
}

/* Text */
.car_animation_number {
    font-size: 32px;
    font-weight: 700;
    color: #0052FF;
}

.car_animation_text {
    font-size: 14px;
    color: #354764;
    font-weight: 500;
}



.short_service {
    width: 257px;
    height: 465px;
    position: relative;
}

.short_service_box {
    position: relative;
    padding-left: 390px;

    .short_service_img_center {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0px;
    }
}

.short_service_item {
    width: 142px;
    height: 124px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
    transition: all 0.3s;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    position: absolute;

    img {
        width: 74px;
        height: auto;
        object-fit: cover;
        max-height: 100px;
    }

    &:hover {
        background-color: #fff;
        box-shadow: 0px 10px 20px rgba(0, 123, 255, 0.3);
    }

    &:nth-child(1) {
        top: 0px;
        left: 0px;
    }

    &:nth-child(2) {
        top: 70px;
        right: 0px;
    }

    &:nth-child(3) {
        top: 137px;
        left: 0px;
    }

    &:nth-child(4) {
        top: 205px;
        right: 0px;
    }

    &:nth-child(5) {
        top: 273px;
        left: 0px;
    }

    &:nth-child(6) {
        top: 341px;
        right: 0px;
    }
}

.staff_item {
    display: flex;
    background: #f8f9fa;
    border-radius: 24px;
    padding: 24px;
    box-shadow: 0 10px 32px rgba(0, 48, 160, 0.16);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
    gap: 16px;
}

.staff_item img {
    width: 127px !important;
    height: 127px !important;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.staff_info {
    flex: 1;
}

.staff_name {
    font-size: 24px !important;
    font-weight: 600 !important;
    color: #15294B;
    margin-bottom: 4px;
    margin-top: 0px;
    @include line-clamp(2);
}

.staff_position {
    color: #0052FF;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 12px;
}

.staff_bio {
    font-size: 16px;
    color: #354764;
    @include line-clamp(3);
}

.staff_slider_row {
    row-gap: 24px;
    --bs-gutter-x: 24px;
}

.staff_slider {
    margin-left: -30px;
    margin-right: -30px;

    .staff_slide {
        padding-left: 30px;
        padding-right: 30px;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .slick-prev.slick-arrow {
        width: 48px !important;
        height: 48px !important;
        padding: 0px !important;
        margin: 0px !important;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.18 39.8399L17.14 26.7999C15.6 25.2599 15.6 22.7399 17.14 21.1999L30.18 8.15991' stroke='%23505F79' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: none !important;
        background-color: transparent !important;
        left: -40px;

        &:hover {
            background-color: transparent !important;
        }

        &::before,
        &::after {
            display: none !important;
        }
    }

    .slick-next.slick-arrow {
        width: 48px !important;
        height: 48px !important;
        padding: 0px !important;
        margin: 0px !important;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8199 39.8399L30.8599 26.7999C32.3999 25.2599 32.3999 22.7399 30.8599 21.1999L17.8199 8.15991' stroke='%23505F79' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: none !important;
        background-color: transparent !important;
        right: -40px;

        &:hover {
            background-color: transparent !important;
        }

        &::before,
        &::after {
            display: none !important;
        }
    }
}


.partners_slider {
    margin-left: -12px;
    margin-right: -12px;

    .slick-prev.slick-arrow {
        width: 32px !important;
        height: 32px !important;
        padding: 0px !important;
        margin: 0px !important;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.12 26.5599L11.4267 17.8666C10.4 16.8399 10.4 15.1599 11.4267 14.1333L20.12 5.43994' stroke='%23505F79' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: none !important;
        background-color: transparent !important;
        left: -40px;

        &:hover {
            background-color: transparent !important;
        }

        &::before,
        &::after {
            display: none !important;
        }
    }

    .slick-next.slick-arrow {
        width: 32px !important;
        height: 32px !important;
        padding: 0px !important;
        margin: 0px !important;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.88 26.5599L20.5733 17.8666C21.6 16.8399 21.6 15.1599 20.5733 14.1333L11.88 5.43994' stroke='%23505F79' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: none !important;
        background-color: transparent !important;
        right: -40px;

        &:hover {
            background-color: transparent !important;
        }

        &::before,
        &::after {
            display: none !important;
        }
    }
}

.partners_slide_item {
    padding-left: 12px;
    padding-right: 12px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.partner_item {
    border-radius: 16px;
    overflow: hidden;
    padding: 0px;
    height: 0px;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 1) 100%);
    box-shadow: 0px 4px 10px rgba(0, 48, 160, 0.16);
}

.partner_content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 8px;
}

.partner_logo img {
    width: 85px;
    height: auto;
    max-height: 68px;
    object-fit: cover;
}

.partner_text {
    font-size: 14px;
    font-weight: 600;
    text-align: center;
    color: #354764;
    padding: 0px 16px;
    @include line-clamp(2);
}

.videoBlock {
    display: block;
    position: relative;
    margin-bottom: 50px;

    .videoBlock_img {
        width: 100%;
        height: auto;
        border-bottom: 16px;
    }

    .videoBlock__playAction {
        position: absolute;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        left: 96px;
        bottom: 0px;
        transform: translateY(50%);
        background: linear-gradient(0deg, rgba(0, 82, 255, 1) 0%, rgba(46, 199, 255, 1) 100%);
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }
}

#videoUrl {
    .modalVideo__video.close {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -16px;
        right: -8px;
        z-index: 9;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        opacity: 1 !important;
        outline: none !important;
        padding: 0px !important;
        border: none !important;
        background-color: #c0c0c0 !important;
    }

    .modal-dialog {
        @media (min-width: 1024px) {
            max-width: 700px !important;
        }
    }
}

.heartfelt_service_row {
    row-gap: 24px;
    --bs-gutter-x: 24px;
}

.heartfelt_service {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
    border-radius: 16px;
    cursor: pointer;
}

.heartfelt_service_inner,
.heartfelt_service_hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity 0.3s ease-in-out;
}

.heartfelt_service_inner {
    background: #D9D9D9;
    transition: opacity 0.3s ease-in-out;

    img {
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        left: 0px;
        top: 0px;
        object-fit: cover;
    }
}

.heartfelt_service_hover {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    opacity: 0;
    text-align: center;
    padding: 24px;
    backdrop-filter: blur(8px);
}

.heartfelt_service:hover .heartfelt_service_hover {
    opacity: 1;
}

.heartfelt_service_title {
    color: #00BBFF !important;
    font-size: 18px !important;
    font-weight: 600;
    line-height: 26px;
    margin-bottom: 12px;
    @include line-clamp(2);
}

.heartfelt_service_desc {
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    @include line-clamp(4);
}

.department_content {
    padding-top: 26px;
    padding-bottom: 26px;
    position: relative;
    z-index: 10;
}

.department_title {
    margin-top: 0px !important;
    font-size: 48px !important;
    font-weight: 600 !important;
    color: #354764;
    margin-bottom: 40px;
}

.department_desc {
    padding: 16px 24px;
    background-color: #0052FF;
    border-radius: 16px;
    opacity: 0.9;
    margin-right: -30px;

    * {
        color: #fff !important;
    }
}

.department_image {
    margin-left: -30px;
    height: 100%;
    position: relative;
    min-height: 400px;
    border-radius: 16px 0px 0px 0px !important;
    overflow: hidden;

    img {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100% !important;
        height: 100% !important;
        object-fit: cover;
    }
}

.department_item {
    height: auto;

    @media (min-width: 1200px) {
        padding-left: calc(50% - 630px) !important;
    }
}

.departments_list {
    .slick-prev.slick-arrow {
        width: 48px !important;
        height: 48px !important;
        padding: 0px !important;
        margin: 0px !important;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M30.1799 39.8402L17.1399 26.8002C15.5999 25.2602 15.5999 22.7402 17.1399 21.2002L30.1799 8.16016' stroke='%2315294B' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: none !important;
        background-color: transparent !important;
        left: -48px;
        z-index: 10;

        @media (min-width: 1300px) {
            left: calc(50% - 700px);
        }

        &:hover {
            background-color: transparent !important;
        }

        &::before,
        &::after {
            display: none !important;
        }
    }

    .slick-next.slick-arrow {
        width: 48px !important;
        height: 48px !important;
        padding: 0px !important;
        margin: 0px !important;
        background-image: url("data:image/svg+xml,%3Csvg width='48' height='48' viewBox='0 0 48 48' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.8198 39.8402L30.8598 26.8002C32.3998 25.2602 32.3998 22.7402 30.8598 21.2002L17.8198 8.16016' stroke='white' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        border: none !important;
        background-color: transparent !important;
        right: 90px;
        z-index: 10;

        &:hover {
            background-color: transparent !important;
        }

        &::before,
        &::after {
            display: none !important;
        }
    }
}

.ecosystem {
    position: relative;
    width: 330px;
    height: 470px;

    .ecosystem_title {
        font-size: 16px;
        font-weight: 500;
        color: #FFFFFF;
        position: absolute;
        width: 98px;
        line-height: 24px;
        left: 44%;
        top: 45%;
        text-align: center;
        transform: translate(-50%, -50%);
        @include line-clamp(4);
    }

    .ecosystem_item {
        position: absolute;
        cursor: pointer;

        .ecosystem_item_img_hover {
            display: none;
        }

        &:hover {
            .ecosystem_item_img_hover {
                display: block;
            }

            .ecosystem_item_img {
                display: none;
            }
        }

        img {
            width: 190px !important;
            height: auto !important;
        }

        &:nth-child(1) {
            left: 0px;
            top: 87px;
        }

        &:nth-child(2) {
            left: 130px;
            top: 13px;
        }

        &:nth-child(3) {
            left: 0px;
            top: 238px;
        }

        &:nth-child(4) {
            left: 130px;
            top: 164px;
        }

        &:nth-child(5) {
            left: 130px;
            top: 314px;
        }
    }
}