/* */
.content__inner {
	display: flex;
	flex-direction: column;
	gap: 24px;
}

/* Blog Item */
.news-banner {
	padding: 215px 0px 235px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.news-banner__title {
	font-family: "Inter";
	font-weight: 700;
	font-size: 96px;
	text-align: center;
	//
	color: #ffffff;
	text-transform: uppercase;
	//
	margin-top: 0px;
	margin-bottom: 12px;
}

.news-banner__desc {
	font-family: "Inter";
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	//
	color: #ffffff;
	//
	margin-bottom: 0px;
}

.blog-item {}

.blog-item__image {
	display: flex;
	position: relative;
	width: 100%;
	height: 0px;
	padding-bottom: 56.4%;
	border-radius: 12px;
	overflow: hidden;
}

.blog-item__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.blog-item__content {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.blog-item__title {
	display: flex;
	text-decoration: none;
	margin-bottom: 4px;

	h3 {
		font-family: "Inter";
		font-weight: 600;
		font-size: 24px;
		color: #15294b !important;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

.blog-item__meta {
	display: flex;
	align-items: center;
	gap: 8px;
}

.blog-item__category,
.blog-item__date {
	display: flex;
	align-items: center;
	gap: 2px;

	svg {
		width: 24px;
		height: 24px;
		min-width: 24px;
	}

	span {
		font-family: "Inter";
		font-weight: 400;
		font-size: 12px;
		color: #15294b;
	}
}

.blog-item__desc {
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	color: #354764;
	margin-bottom: 0px;
}

.blog-item__button {
	display: inline-block;
	padding: 8px 12px;
	border-radius: 8px;
	background-color: #0052ff;
	//
	font-family: "Inter";
	font-weight: 600;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
}

.blog-item__button:hover {
	color: #ffffff;
	text-decoration: underline;
}

/* Post Item */
.post-item {
	display: flex;
	position: relative;
	height: 0px;
	padding-bottom: 56.2%;
	border-radius: 12px;
	overflow: hidden;

	img {
		transition: all 0.3s;
		transform: scale(1);
	}

	&:hover {
		img {
			transition: all 0.3s;
			transform: scale(1.1);
		}
	}
}

.post-item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 47.57%, #000000 100%);
}

.post-item__image {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
	top: 0px;
	left: 0px;
}

.post-item__content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 24px;
	z-index: 10;
}

.post-item__title {
	font-family: "Inter";
	font-weight: 600 !important;
	font-size: 24px !important;
	color: #ffffff !important;
	margin-top: 0px;
	margin-bottom: 6px;

	@include line-clamp(2);
}

.post-item__info {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 24px;
}

.post-item__meta {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: wrap;
}

.post-item__category,
.post-item__date {
	display: flex;
	align-items: center;
	gap: 2px;

	svg {
		width: 24px;
		height: 24px;
		min-width: 24px;
	}

	span {
		font-family: "Inter";
		font-weight: 400;
		font-size: 12px;
		color: #ffffff;
	}
}

.post-item__button {
	display: inline-block;
	padding: 8px 20px;
	border: none !important;
	border-radius: 8px;
	background-color: #0052ff !important;
	font-family: "Inter";
	font-weight: 600;
	font-size: 12px;
	color: #ffffff !important;
	text-decoration: none !important;
	transform: all 0.3s;

	&:hover {
		background-color: #3745af !important;
	}
}

.post-item__button:hover {
	color: #ffffff;
	text-decoration: underline;
}

/* Định dạng chung */
.highlight-news__title {
	font-family: "Inter";
	font-weight: 600;
	font-size: 24px;
	text-transform: uppercase;
	//
	color: #15294b;
	margin-top: 0px;
	margin-bottom: 16px;
}

.highlight-news-item {
	display: flex;
	position: relative;
	height: 0px;
	padding-bottom: 100%;
	border-radius: 12px;
	overflow: hidden;

	&:hover {
		img {
			transition: all 0.3s;
			transform: scale(1.05);
		}
	}
}

.highlight-news-item::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.72%, #000000 100%);
}

.highlight-news-item__image {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
	top: 0px;
	left: 0px;
	transform: scale(1);
	transition: all 0.3s;
}

.highlight-news-item__content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0px 21px 16px;
	z-index: 10;
}

.highlight-news-item__title {
	font-family: "Inter";
	font-weight: 600 !important;
	font-size: 16px !important;
	color: #ffffff !important;
	margin-top: 0px;
	margin-bottom: 6px;

	@include line-clamp(2);
}

.highlight-news-item__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

.highlight-news-item__meta {
	display: flex;
	align-items: center;
	gap: 8px;
	flex-wrap: wrap;
}

.highlight-news-item__category,
.highlight-news-item__date {
	display: flex;
	align-items: center;
	gap: 2px;

	svg {
		width: 24px;
		height: 24px;
		min-width: 24px;
	}

	span {
		font-family: "Inter";
		font-weight: 400;
		font-size: 12px;
		color: #ffffff;
	}
}

.highlight-news-item__button {
	display: inline-block;
	padding: 8px 20px;
	border: none !important;
	border-radius: 8px;
	background-color: #0052ff !important;
	font-family: "Inter";
	font-weight: 600;
	font-size: 12px;
	color: #ffffff !important;
	text-decoration: none !important;
	transition: all 0.3s;

	&:hover {
		transition: all 0.3s;
		background-color: #3745af !important;
	}
}

.highlight-news-item__button:hover {
	color: #ffffff;
	text-decoration: underline;
}

/* banner news */
/* Container chính */
.banner-news {
	position: relative;
	height: 0px;
	padding-bottom: 48%;
	width: 100%;
	min-height: 450px;
	overflow: hidden;
}

/* Hình ảnh nền */
.banner__image {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	object-fit: cover;
}

/* Lớp overlay */
.banner__overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 65.74%, #000000 100%);
}

/* Nội dung */
.banner__inner {
	position: absolute;
	width: 100%;
	bottom: 0px;
	padding-bottom: 57px;
}

.banner__content {
	position: relative;
}

.banner__content::before {
	content: "";
	position: absolute;
	top: 0px;
	/* Căn theo nội dung */
	left: -24px;
	/* Đẩy ra ngoài */
	width: 8px;
	height: 100%;
	background: #00bbff;
	/* Màu xanh */
}

/* Tiêu đề */
.banner__title {
	font-family: "Inter";
	font-weight: 600;
	font-size: 36px;
	color: #ffffff;
	//
	margin-top: 0px;
	margin-bottom: 18px;
}

/* Meta thông tin */
.banner__meta {
	padding-left: 24px;
}

.banner__date {
	font-family: "Inter";
	font-weight: 400;
	font-size: 16px;
	color: #ffffff;
}

/* Share */
.share {
	display: flex;
	flex-direction: column;
	// justify-content: end;
	align-items: end;
	margin-bottom: 16px;
}

.share__title {
	font-family: "Inter";
	font-weight: 600;
	font-size: 14px;
	color: rgba(0, 0, 0, 0.8);
	margin-top: 0px;
	margin-bottom: 16px;
}

.social_share_post {
	display: flex;
	align-items: center;
	gap: 16px;

	span {
		display: flex;
	}
}

//
.tabs {
	display: flex;
	gap: 13px;
	/* Khoảng cách giữa các tab */
	justify-content: center;
	align-items: center;
}

.tabs__item {
	padding: 16px;
	border-radius: 999px;
	/* Bo góc lớn */
	box-shadow: 0px 8px 16px -4px rgba(0, 48, 160, 0.18);
	text-decoration: none;
	//
	font-family: "Inter";
	font-weight: 400;
	font-size: 14px;
	color: #354764;
}

.tabs__item--active {
	font-family: "Inter";
	font-weight: 700;
	font-size: 14px;
	//
	color: #ffffff !important;
	background: #0052ff;
}

.tabs__item:hover {
	// color: #ffffff;
}

//
.related-news__subtitle {
	font-family: "Inter";
	font-weight: 600;
	font-size: 24px;
	//
	color: #15294b;
	text-transform: uppercase;
	margin-top: 0px;
	margin-bottom: 16px;
}

.related-news__inner {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

/* Related News */
.related-news {
	display: flex;
	position: relative;
	height: 0px;
	padding-bottom: 100%;
	border-radius: 12px;
	overflow: hidden;
}

.related-news::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0) 64.72%, #000000 100%);
}

.related-news__image {
	position: absolute;
	width: 100% !important;
	height: 100% !important;
	object-fit: cover;
	top: 0px;
	left: 0px;
}

.related-news__content {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0px 24px 16px;
	z-index: 10;
}

.related-news__title {
	font-family: "Inter";
	font-weight: 600 !important;
	font-size: 14px !important;
	color: #ffffff !important;
	margin-bottom: 6px;

	@include line-clamp(2);
}

.related-news__info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.related-news__meta {
	display: flex;
	align-items: center;
	gap: 8px;
}

.related-news__category,
.related-news__date {
	display: flex;
	align-items: center;
	gap: 2px;

	svg {
		width: 24px;
		height: 24px;
		min-width: 24px;
	}

	span {
		font-family: "Inter";
		font-weight: 400;
		font-size: 12px;
		color: #ffffff;
	}
}

/*  */
.car-knowledge__title {
	font-family: "Inter";
	font-weight: 600;
	font-size: 40px;
	text-align: center;
	//
	color: #15294b;
}

/* Điều khoản Page */
.page_title {
	font-family: "Inter";
	font-weight: 600;
	font-size: 40px;
	text-align: center;
	text-transform: uppercase;
	//
	color: #15294b;
	//
	margin-top: 0px;
	margin-bottom: 40px;
}

.page_inner {
	padding-top: 70px;
	padding-bottom: 120px;
}

.page_content {
	.editor {
		font-size: 16px !important;
		color: #354764 !important;

		// đã đưa các phần chung vào _editor.scss để dùng
	}
}